.q-field {
  font-size: 1rem;
}

.q-field--standout .q-field__control {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
}

//.q-field__messages {
//  padding: 4px;
//  border-radius: 15px;
//  font: var(--q-warning);
//}
